
html
{
  height:100%;
}
body
{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  flex: 1;
}
.nav-color
{
  background-color:#1E2A36;
  box-shadow: 0px 1px 10px #1E2A36;
}
.color-nav a
{
  color:white;
}
.container-height
{
  height:30%;
}
.navbar-brand-color
{
  color:#067B82;
}
.no-border
{
  border:0px;
}
header a
{
  color:#ffffff;
}
.nav-btn
{
  padding:15px;
  font-weight: bold;
}
.search-bar
{
  width:100%;
}
.white
{
  color:#ffffff;
}
.nav-btn:hover
{
  background-color:#ffffff;
  box-shadow: 0px 1px 10px #ffffff;
  color:#067B82;
  -webkit-transition:0.25s;
  -moz-transition:0.25s;
}

.cart
{
  padding:15px;
}
.nav-dropdown:hover
{
  background-color:#ffffff;
  box-shadow: 0px 1px 10px #ffffff;
  -webkit-transition:0.25s;
  -moz-transition:0.25s;
}
.content-container
{
  position:relative;
  top: 70px;
  display:inline-block;
  box-shadow: 0px 1px 10px #1E2A36;
  background-color:rgba(30, 42, 54, 0.8);
  min-height: 565px;
  color:#ffffff;
}
.akun-container
{
  position:relative;
  top: 70px;
  display:inline-block;
  box-shadow: 0px 1px 10px #1E2A36;
  background-color:rgba(30, 42, 54, 0.8);
  min-height: 565px;
}
.thumbnail
{
  border:none;
  margin-bottom:30px;
  height:40%;
  background-color:rgba(255, 255, 255, 0.9);
}
.card-title
{
  color:#ffffff;
  padding:10px;
  font-weight: bold;
  font-size: 15px;
}
.card-caption
{
  text-align:center;
  font-weight:bold;
  color:#222222;
}
.btn-container
{
  padding:0px;
  margin:0px;
}
.thumbnail img
{
  width:332px;
  height:206px;
}
.thumbnail figure {
	overflow: hidden;
	position: relative;
}
.thumbnail figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	left: 0;
	opacity: 0;
	position: relative;
	right: 0;
	top: 0;
	z-index: 100;
}
.thumbnail figcaption p {
  font-size:20px;
	position: relative;
	vertical-align: middle;
}
.thumbnail:hover figcaption {
	opacity: 1;
}
.thumbnail figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}
.thumbnail figcaption p{
	position: relative;
	top: -40px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}
.thumbnail:hover figcaption p{
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.thumbnail img {
	display: block;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}
.thumbnail:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
.card
{
  position:relative;
  top:15px;
}
.card:hover
{
  box-shadow: 0px 0px 5px #1E2A36;
}
.card-desc
{
  font-size:15px;
  font-weight:normal;

}
.status-available
{
  background-color:rgb(30, 89, 22);
  padding:5px 15px;
  text-align:center;
  border-radius:3px;
}
.status-kosong
{
  background-color:rgb(99, 19, 19);
  padding:5px 15px;
  text-align:center;
  border-radius:3px;
}
.logo-header img
{
  height:50px;
}
.site-footer
{
  margin-top:70px;
  margin-bottom:20px;
  padding:20px;
  background-color:#1E2A36;
  box-shadow: 0px 3px 8px #1E2A36;
}
hr
{
  border-color:rgb(148, 148, 148);
  border-width:3px;
}
.upper-footer
{
  color:#ffffff;
}
.upper-footer img
{
  height:100px;
}
.lower-footer
{
  text-align:center;
  color:#ffffff;
}
.content-heading
{
  background-color:#1E2A36;
  position:relative;
  top: 70px;
  box-shadow: 0px -3px 8px #1E2A36;
  padding:15px;
  font-size:30px;
  color:#ffffff;
}
.dropdown-content
{
  color:black;
}
.akun-index a
{
  color:#1E2A36;
  text-decoration: none;
}
.akun-index
{
  position:relative;
  top:30px;
}
.akun-index h1
{
  font-weight: bold;
  color:#ffffff;
}
.akun-index-left
{
  float: left;
  width:500px;
  border-radius:5px;
  position: relative;
  left: 40px;
}
.akun-index-left h3, h2
{
  font-weight:bold;
  color:#ffffff;
}
.akun-index-head
{
  background-color: ;
  color:black;
  padding:10px 10px 20px 10px;
}
.akun-index-foot
{
  border-style:solid;
  border-color:#1E2A36;
  background-color: #1E2A36;
  border-radius:5px;
  padding:10px 10px 20px 10px;
}
.akun-index-foot:hover
{
  border-color:#26A65B;
  background-color:#26A65B;
  color:#ffffff;
  -webkit-transition:0.25s ease-out;
  -moz-transition:0.25s ease-out;
  transition:0.25s ease-out;
}
.red-hover
{
  border-style:solid;
  border-color:#1E2A36;
  background-color: #1E2A36;
  border-radius:5px;
  padding:30px 100px 30px 100px;
}
.red-hover:hover, .red-hover:active, .red-hover:focus
{
  border-color:#CF000F;
  background-color:#CF000F;
  color:#ffffff;
  -webkit-transition:0.25s ease-out;
  -moz-transition:0.25s ease-out;
  transition:0.25s ease-out;
}

.blue-hover:hover
{
  border-color:#446CB3;
  background-color:#446CB3;
  color:#ffffff;
  -webkit-transition:0.25s ease-out;
  -moz-transition:0.25s ease-out;
  transition:0.25s ease-out;
}
.akun-index-right
{
  float: right;
  width:500px;
  position: relative;
  right: 40px;
}
.akun-index-right-blue
{
  float: right;
  width:500px;
  position: relative;
  right: 40px;
  position: relative;
  top:19px;
}
.akun-index-right h3
{
  font-weight:bold;
  color:#ffffff;
}
.akun-cart
{
  font-size:80px;
  background-color:#ffffff;
  color:#1E2A36;
  border-radius:150px;
  padding:60px;
  margin:30px 0px 0px 0px;
}
.profile-icon
{
  background-color:#1E2A36;
  color:#ffffff;
  font-size:150px;
  padding:50px;
  border:solid white 1px;
  border-radius:25px;
  position: relative;
  left:40px;
}

.content-wrapper
{
  padding:20px;
  margin-bottom:50px;
}

.info-table
{
  color:white;
  font-weight:bold;
  text-align:left;
  border-spacing:50px;
}
.info-table td
{
  font-size:20px;
  padding-bottom:5px;
}
.info-left
{
  width:200px;
}
.info-mid
{
  width:20px;
}
.info-right
{
  width:400px;
}
.acc-op
{
  position: relative;
  left: 40px;
  margin-right: 5px;
}
.info-caption
{
  font-size: small;
}
.nav-dropdown
{
  padding:15px;
}
.admin-menu-list
{
  display:inline-block;
}
.admin-menu-list a
{
  color:#ffffff
}
.menu-logo
{
  padding:40px;
  background-color:rgba(30, 42, 54, 1);
  border: solid white;
  border-radius:10px;
  color:#ffffff;
  font-size:100px;
}
.menu-logo:hover
{
  background-color:#ffffff;
  color:rgba(30, 42, 54, 1);
  -webkit-transition: 0.25s ease-in;
	-moz-transition: 0.25s ease-in;
	transition: 0.25s ease-in;

}
.admin-menu-item
{
  margin:43px;
  float:left;
}
.table th
{
  background-color:white;
  color:rgba(30, 42, 54, 1);
}
.table tr:hover
{
  background-color:rgba(30, 42, 54, 0.1);
}
.table tr
{
  padding:50px;
}
.table td
{
    background-color:rgba(30, 42, 54, 0.8);
    font-weight:normal;
}
.modal-content
{
  background-color:rgba(30, 42, 54, 0.8);
}
td p
{
  padding-top:7px;
}
 .plus-background
{
  padding:5px;
  color:rgba(30, 42, 54, 1);
  background-color: #ffffff;
  border-radius:20px;
}
.add-line:hover
{
  text-decoration: none;
}
.table-footer:hover
{
  cursor: pointer;
}
